.contenedor {
    width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

head {
    background-color: brown;
}

@media (min-width: 500px) {
    head {
        background-color: blue;
    }
}